.main {
    min-height: 100vh;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #0070f3;
    text-decoration: none;
}
.content {
    font-size: large;
}